.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;

    gap: 80px;

    > div {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #E5E9F0;

        p {
            font-size: 18px;
            font-weight: 500;
        }

        h1 {
            font-size: 62px;
            font-weight: 400;
        }

        h2 {
            font-size: 32px;
            color: #4D5BCE;
        }

        .comment {
            font-size: 16px;
            color: var(--light-blue);
            margin-bottom: 10px;
        }

        .variable {
            font-size: 16px;
            font-weight: 500;

            .const {
                color: #4D5BCE;
            }

            .name {
                color: #43D9AD;
            }

            .value {
                color: #E99287;
            }
        }
    }
}