.home {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 80px 20px;

    z-index: 2;

    background: url("/assets/images/blurs.png");
    background-repeat: no-repeat;
    background-position: center right;

    .background {
        width: 100%;
        height: 100%;
        top: 0px;
        z-index: -1;

        position: absolute;

        background: url("/assets/images/tech-particles.gif");
        background-size: 100%;
        opacity: 0.1;
    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3vw;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 80px;

        div {
            display: flex;
            flex-direction: column;
            text-align: left;
            color: #E5E9F0;

            p {
                font-size: 18px;
                font-weight: 500;
            }

            h1 {
                font-size: 62px;
                font-weight: 400;
            }

            h2 {
                font-size: 32px;
                color: #4D5BCE;
            }

            .comment {
                font-size: 16px;
                color: var(--light-blue);
                margin-bottom: 10px;
            }

            .variable {
                font-size: 16px;
                font-weight: 500;

                span {
                    margin: 0 4px;
                }

                .const {
                    color: #4D5BCE;
                }

                .name {
                    color: #43D9AD;
                }

                .value {
                    color: #E99287;
                    transition: 0.2s;

                    &:hover {
                        background-color: rgb(31, 77, 107);
                        text-decoration: underline;
                    }
                }
            }

            @media (max-width: 1000px) {
                h1 {
                    font-size: 50px;
                }
            }

            @media (max-width: 500px) {
                h1 {
                    font-size: 42px;
                }

                p {
                    font-size: 16px;
                }

                .comment {
                    font-size: 14px;
                }
                
                .variable {
                    font-size: 14px;
                }
            }

            @media (max-width: 400px) {
                h1 {
                    font-size: 36px;
                }

                h2 {
                    font-size: 24px;
                }
            }
        }
    }

    .photo {
        img {
            border-radius: 10000px;
            box-shadow: 0 0 10px 4px rgba($color: #ffffff, $alpha: 0.2);
            
            width: clamp(350px, 30vw, 400px);

            @media(max-width: 500px) {
                width: clamp(280px, 62vw, 350px);
            }
        }
    }
}

@media (max-width: 900px) {
    .home {

        background-position: center bottom;

        .content {
            flex-direction: column-reverse;
            gap: 30px;
            overflow: hidden;
        }

        .text {
            gap: 30px;

            >div {
                text-align: center;

                span {
                    overflow-wrap: break-word;
                    text-wrap: wrap;
                }
            }
        }
    }
}