.about-me {
    display: flex;
    flex-direction: row;

    .side-bar {
        max-width: 320px;
        width: 100%;

        display: flex;
        flex-direction: row;

        >nav {
            display: flex;
            flex-direction: column;

            >li {
                display: flex;
                align-items: center;

                cursor: pointer;

                list-style-type: none;
                padding: 16px 22px;
                transition: 0.3s;

                &.selected {
                    background-color: rgba(255, 255, 255, 0.05);
                }

                &:hover {
                    background-color: rgba($color: #FFF, $alpha: 0.1);
                }

                &:not(.selected) {
                    opacity: 0.4;
                }
            }
        }

        >.folder-structure {
            width: 100%;

            display: flex;
            flex-direction: column;
            border-right: var(--border-style);
            border-left: var(--border-style);

            .current-folder,
            .contact {
                display: flex;
                flex-direction: column;

                h1 {
                    img {
                        margin-right: 10px;
                        cursor: pointer;
                    }

                    padding: 10px 15px;
                    font-size: 16px;
                    font-weight: 400;
                    color: #FFF;
                    border-bottom: var(--border-style);

                    user-select: none;
                }

                >div {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 18px;

                    li {
                        list-style-type: none;
                        color: var(--light-blue);
                        padding: 14px 18px;

                        transition: 0.2s;
                        cursor: pointer;
                        user-select: none;

                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        &.selected {
                            color: #FFF;
                            background-color: rgba(255, 255, 255, 0.05);
                        }

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.10)
                        }

                        img, svg {
                            margin-right: 8px;
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
            }

            .contact {
                border-top: var(--border-style);

                >div {
                    > li {
                        cursor: default;
                        user-select: text;
                    }
                }
            }
        }
    }

    .open-file {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        >.title {
            display: flex;
            flex-direction: row;
            border-bottom: var(--border-style);

            >h2 {
                padding-right: 15px;
                font-size: 16px;
                font-weight: 400;
                color: var(--light-blue);
                border-right: var(--border-style);

                user-select: none;

                display: flex;
                align-items: center;

                position: relative;
                bottom: -1px;

                transition: 0.2s;

                &.selected {
                    border-bottom: 1px solid #011627;
                }

                &:not(.selected):hover {
                    background-color: rgba(255, 255, 255, 0.05);
                }

                span {
                    padding: 10px 15px;
                    padding-right: 0;
                }

                img {
                    margin-left: 5px;

                    cursor: pointer;
                    transition: 0.2s;
                    border-radius: 3px;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }

        >.content {
            color: var(--light-blue);
            padding: 18px 38px;
            counter-reset: line;

            height: 100%;

            .plain-text {
                color: #fff;

                h1 {
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 150%;
                    margin-bottom: 7px;
                }
            
                hr {
                    margin-bottom: 22px;
                }

                h2 {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 150%;
                    margin-bottom: 8px;
                }

                p {
                    margin-top: 8px;
                    margin-bottom: 16px;
                }
            }
        }

        .no-file {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 50px;

            img {
                max-width: 100px;
                margin-bottom: 10px;
            }

            h3 {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}